<div class="page-header">
  <h1>Edit Blog</h1>
  <div class="header-nav-links">
    <%= link_to "â† Back to Blogs", blogs_path, class: "link-secondary" %>
    <%= link_to "Call Logs", calls_path, class: "link-secondary" %>
  </div>
</div>

<%= render "form", blog: @blog %>

